*{margin:0;padding:0;box-sizing:border-box;}

header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #151C48;   
}
#primary-nav {
  display: flex;
  align-items: stretch;
}
h1{
font-size: 1px;
}
#primary-nav ul {
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 30px 20px;
  font: 1.2em "Fira Sans", sans-serif;
}
section{
  background-color: #DCCBC5;
  color:#151C48;
  padding: 30px;
}
#primary-nav ul li {
  list-style:none;
}
#primary-nav ul li a {
  color: #DCCBC5;
}
body{
  font-family: sans-serif;
  }
a{
  text-decoration: none;
}
footer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #151C48;
}
.footer-color{
  filter:invert(100%);/* Inversion de la couleur des logos cette couleur est la base qui a servie pour  color: #DCCBC5 dans le reste du design*/
  padding-right: 20px;
}
.footer-nav{
  flex-grow: 1;
}
.footer-nav ul{
  display:flex;
  flex-direction: row;
}
.footer-nav ul li {
  list-style:none;
  padding: 5px 10px;
}

.Copyright{
  padding-top: 20px;
}
/* Gestion de l'écran mobile */
@media (max-width: 767px) {
  
/* Mise en place en colonnes et centré*/
  header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


#primary-nav {
  display: flex;
  align-items: stretch;
}
#primary-nav ul {
   display: flex;
  flex-direction:column;
  align-items: flex-start;
  
  padding: 0px 10px;
  font: 1.2em "Fira Sans", sans-serif;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Mise en place en colonnes et centré*/
footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer-nav{
  display:flex;
  flex-direction: column;
}
.footer-nav ul{
  display:flex;
  flex-direction: column;
}
}
